{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block title %}
    <title>Об авторе проекта</title>
{% endblock %}
{% block content %}
    <div class="container py-5">
        <h1>Привет, я Даня! :)</h1>
        <p>
            Тут я размещу информацию о себе, используя свои умения верстать.
            Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста.
        </p>
    </div>
{% endblock %}
